.borderTop {
    border-top: 1px solid #E5E5E5;
}

.borderBottom {
    border-bottom: 1px solid #E5E5E5;
}

.borderLeft {
    border-left: 1px solid #E5E5E5;
}

.borderRight {
    border-right: 1px solid #E5E5E5;
}