@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: url(/css/opensans.woff) format('woff');
}

body {
    font-size: 75%;
    color: #222;
    background: #fff;
    font-family: 'OpenSans', Arial Unicode MS, Arial, sans-serif;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
    cursor: pointer;
    cursor: hand;
    color: #FFCC33;
    font-weight: bold;
    font-size: 1.3em;
    padding: 3px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 0px;
    background:  url(/images/images4.png) repeat-x 0px -50px;
}

.gwt-SplitLayoutPanel-HDragger {
    background: url(/images/splitPanelThumb.png) center center no-repeat;
    cursor: col-resize;
}

.gwt-SplitLayoutPanel-VDragger {
    background: url(/images/splitPanelThumb.png) center center no-repeat;
    cursor: row-resize;
}

