<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- <bean/> definitions here -->

    <context:annotation-config/>
    <context:component-scan base-package="ru.dzhinn.echodata.web.gwt.server.dispatch"/>
    <context:component-scan
            base-package="com.gwtplatform.dispatch.rpc.server.spring"/>

    <bean id="logger"
          class="com.gwtplatform.dispatch.rpc.server.spring.LoggerFactoryBean">
        <constructor-arg>
            <bean class="java.util.logging.Logger"
                  factory-method="getAnonymousLogger">
                <property name="level">
                    <value>FINEST</value>
                </property>
            </bean>
        </constructor-arg>
    </bean>

</beans>